@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff87;
  text-decoration: none;
}

a:hover {
  color:#fff;
  transition: color 0.15s ease-out;
}

.header-main {
  display: flex;
  width: 100%;
  height: 62px;
  background-color: #070707;
  align-items: center;

}

.zk-logo {
  margin: 20px;
  width: 45px;
  height: 20px;
}

nav {
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
  position: relative;
}

li,
.nav-right {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  padding-right: 30px;
}

.nav-right {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 25px;
  line-height: 62px;
}


ul {
  display: flex;
  height: 62px;
  width: 560px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 62px;    
}

ul li > ul {  
  display: none;
  position: absolute;
  left: 156px;
  top: 52px;
  width: 103px;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  padding: 20px 28px;
  background: #fff;
  z-index: 1; 
  line-height: initial;
  height: auto;
}

ul li > ul li {
  padding: 10px 0;
}

ul li ul > li a {
  color: #808080d1
}
  

ul li ul > li a:hover {
  color: #000;
  transition: color 0.15s ease-out;
}


ul li:hover > ul {
  display: inline-block;
}


